<body>
<%= image_tag "sandwich.png" %>

<h1>Hoagie Shop</h1>

<p>Hey folks!!! Are you a student?! Yes? Well, then come and get your <bold>special</bold> deal! Visit our HOAGIE factory at Alexanderplatz and you will get two menus paying one! * <br> Our HOAGIES are the best. Ensuring the <bold>best quality</bold> standards for HOAGIES (ISO 9234 for HOAGIES), you will get the most out of what you pay. <br> Wanna eat <bold>healthy</bold>? Come and get some HOAGIES! But remember to bring enough money! Cause you won't get those HOAGIES <bold>for free</bold>! <br>
Our HOAGIES are the best and the <bold>most delicious</bold> ones. Are you a vegetarian? We have it all! Come and get your <bold>individual</bold> HOAGIE! <br>
Best prices, biggest HOAGIES! <br> 
<bold>Huge giveaway</bold> in March! Order at least 15 HOAGIES until the end of February and win a HOAGIE abonnement for 3 months!! <br>
Are you throwing a party? Order HOAGIES and get a super cheap price! <br>
<bold>WANT FRIES TOO? JUST ASK!</bold></p>
    
<%= link_to "Order a HOAGIE here!", new_sub_path, class: 'btn btn-primary' %>
    
<p id="footer">* Sorry, but this only applies if you order at least 25 menus.</p>