<body>
<%= image_tag "sandwich.png" %>

<h1>Hoagie Shop</h1>

<p>Hey folks!!! Are you a student?! Yes? Well, then come and get your <b>special</b> deal! Visit our HOAGIE factory at Alexanderplatz and you will get two menus paying one! * <br> Our HOAGIES are the best. Ensuring the <b>best quality</b> standards for HOAGIES (ISO 9234 for HOAGIES), you will get the most out of what you pay. <br> Wanna eat <b>healthy</b>? Come and get some HOAGIES! But remember to bring enough money! Cause you won't get those HOAGIES <b>for free</b>! <br>
Our HOAGIES are the best and the <b>most delicious</b> ones. Are you a vegetarian? We have it all! Come and get your <b>individual</b> HOAGIE! <br>
Best prices, biggest HOAGIES! <br>
<b>Huge giveaway</b> in March! Order at least 15 HOAGIES until the end of February and win a HOAGIE abonnement for 3 months!! <br>
Are you throwing a party? Order HOAGIES and get a super cheap price! <br>
<b>WANT FRIES TOO? JUST ASK!</b></p>

<%= link_to "Order a HOAGIE here!", new_sub_path, class: 'btn btn-primary' %>

<p id="footer">* Sorry, but this only applies if you order at least 25 menus.</p>