body {
    background-color: #ffff;
    color: #333;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    margin: 0 auto;
    max-width: 70%;
    padding: 2em 2em 4em;
    
    min-height: 100%;
}

img {
    display: block;
    max-width: 95%;
    margin: auto;
}

bold {
    font-weight: bold;
}

p {
    line-height: 3em;
}

#footer {
    font-size: 0.8em;
}

.button {
    color: black;
    padding: 1em;
    background-color: darkgrey;
    border-radius: 9px;
}


h1 {
    text-align: center;
    #bottom: 80%;
    #left: 40%;
    margin:auto;
    margin-bottom: 1em;
}

html {
    background-image: linear-gradient(270deg, rgb(240, 243, 243) 0%, rgb(180, 180, 180) 100%);
}